TS 29.581:  Synchronising FLUTE TSI between MBSF and MBSTF

# Context

**TS 26.502** (SA4) specifies the reference architecture for MBS User Services. As part of the domain model defined in clause 4.5:
- Table 4.5.6-1 defines *user plane traffic flow information* that determines the transport parameters used at reference point MBS-4-MC.
- Table 4.5.8-1 defines the *Session Description parameters* that are part of the MBS Distribution Session Announcement entity consumed by the MBS Client, and defines this to include the *user plane traffic flow information*
- Figure 4.5-1 depicts the static information model which shows that:
   - The *user plane traffic flow information* is shared between the MBSF and the MBSTF.
   - The *Session Description parameters* are included in the MBS Distribution Session Announcement entity which, in turn, is part of the MBS User Service Announcement entity consumed by the MBS Client.

In the current specifications, it is assumed that the SDP is compiled by the MBSF as a byproduct of provisioning an MBS Distribution Session in the context of an MBS User Service.

**TS 26.517** (SA4) specifies that the *Session Description parameters* above are encoded into an SDP document referenced from the relevant MBS User Service Announcement document. (Both documents may be bundled together into a composite `multipart/related` MIME container for carriage to the MBS Client via unicast HTTP at reference point MBS-4-UC or via a multicast/broadcast MBS User Service Announcement Channel at reference point MBS-4-MC or privately via the MBS-aware Application at reference point MBS-8.)
 
Clause 6.2.2.3 of TS 26.517 contains an example SDP document. This includes the FLUTE Transport Session Identifier (TSI) to be used for the MBS Distribution Session in question, signalled using the *a=flute-tsi* parameter. A FLUTE TSI is an unsigned integer of 16, 32 or 48 bits (see [RFC 6726 Section 3.1](https://datatracker.ietf.org/doc/html/rfc6726#section-3.1)).

**TS 29.581** (CT4) specifies the API of the MBSTF at reference point Nmb2, used by the MBSF to configure MBS Distribution Sessions in the MBSTF:
- The *DistSession* data structure is specified in clause 6.1.6.2.4.
- The *UpTrafficFlowInfo* child data structure is specified in clause 6.1.6.2.13.

# Problem description

The MBSTF is responsible for packaging the object files to be distributed in FLUTE packets and therefore needs to know/assign a TSI for the FLUTE session.

The TSI must be known by the MBSF in order to include this information in the SDP document that it compiles for distribution to the MBS Client.

In TS 29.581, neither the *DistSession* nor the flow information in the *UpTrafficFlowInfo* provides a field to convey the FLUTE TSI value. Therefore the TSI cannot be communicated from the MBSF to the MBSTF, nor can the MBSTF communicate an assigned TSI back in the response to the MBSF.

Therefore it does not seem to be possible to synchronise the TSI value between the MBSF and MBSTF so that both work with the same value for a given MBS Distribution Session.

# Suggested solutions

It is recommended to add the transport session identifier to one of the data structures at reference point Nmb2 specified in TS 29.581.

To futureproof this additional field for use with multicast transport protocols other than FLUTE, it is recommended to make this an unsigned integer not limited to 32 bits (i.e., `type: integer`, `format: long`) and to give it a generic name such as *transportSessionId*.

## Option A: Add *transportSessionId* to *UpTrafficFlowInfo* object

A sensible place to add this might be within the *UpTrafficFlowInfo* object, referenced from the *DistSession* data structure so that the MBSF can set the TSI that the MBSTF will use.

(Note that *DistSession.upTrafficFlowInfo* is declared write-only in the OpenAPI YAML, so this information can only be communicated from the MBSF to the MBSTF and not the other way around using this field.)

This would keep all the User Plane flow information (layers 3 to 7) together in the same data structure.

## Option B: Add *transportSessionId* to *DistSession* structure

With this solution, the TSI would then be present at the same level as the FEC information.

- If added as write-only or read/write then this would allow the MBSF to indicate the TSI to the MBSTF on Distribution Session creation.
- If added as read-only or read/write, then this would allow the MBSTF to assign a TSI for its own source IP address and convey this back to the MBSF in the response to creating or updating a Distribution Session.

A read/write field would give the best flexibility for the entity responsible for assigning TSI numbers as either the MBSF or MBSTF could be chosen.

# Recommendation

TODO: Recommend one of the two options after discussion with @haudiobe.

Stage 3 Change Requests to TS 29.581 agreed at CT#133 (Goa):
- Rel-17: 29581-**CR0057**r2 "Update of user plane traffic flow information and clarification of ObjDistributionData" in [C4-260364](http://portal.3gpp.org/ngppapp/DownloadTDoc.aspx?contributionUid=C4-260364).
- Rel-18: 29581-**CR0058**r2 "Update of user plane traffic flow information and clarification of ObjDistributionData" in [C4-260365](http://portal.3gpp.org/ngppapp/DownloadTDoc.aspx?contributionUid=C4-260365).
- Rel-19: 29581-**CR0059**r2 "Update of user plane traffic flow information and clarification of ObjDistributionData" in [C4-260366](http://portal.3gpp.org/ngppapp/DownloadTDoc.aspx?contributionUid=C4-260366).